# API
VITE_API_BASE_URL=https://api.xrealty.ae/admin/
VITE_NEWS_AND_INSIGHTS_URL=https://api.xrealty.ae/real-estate-news

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=dkhns25jh
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
VITE_CLOUDINARY_FOLDER=xr_media
